.row3 {
  display: flex;
  align-items: center;
  animation: slideInRight 0.5s forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.cards-container {
  display: flex;
}
